<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title th:text="#{page.title.address.list}">My addresses</title>
</head>

<body>
<main layout:fragment="content">
  <div class="container py-5 h-100">

    <div th:replace="~{fragments/alerts :: alert('success', ${successMessage})}"></div>
    <div th:replace="~{fragments/alerts :: alert('warning', ${warningMessage})}"></div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#" th:href="@{/}" th:text="#{breadcrumb.home}">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" th:text="#{breadcrumb.addresses}">My Addresses</li>
      </ol>
    </nav>

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <h3 th:text="#{address.list.title}">My address list</h3>
            <div class="col-12">
              <div class="alert alert-primary" role="alert" th:if="${addresses.isEmpty()}">
                <span th:text="#{address.list.empty}">There aren't addresses yet</span>
              </div>

              <div class="d-flex justify-content-end gap-2 mt-3 mb-4">
                <a class="btn btn-primary" href="#" th:href="@{/addresses/new}"
                   th:text="#{button.addAddress}">Add address</a>
                <a class="btn btn-primary" href="#" th:href="@{/}" th:text="#{button.back}">Back</a>
              </div>

              <div class="list-group" th:if="${!addresses.isEmpty()}">
                <div th:each="address : ${addresses}">
                  <a class="list-group-item list-group-item-action" href="#" th:href="@{/addresses/{id}(id=${address.id})}">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1" th:text="${address.street}">73 Aberg Place</h5>
                      <small>
                        <span class="badge" th:classappend="${address.main} ? ' bg-success' : ' '"
                              th:if="${address.main}" th:text="#{address.form.main}">Main</span>
                      </small>
                    </div>
                    <p class="mb-1"
                       th:text="${address.city + ', ' + address.state + ', ' + address.country}">Pamplona, Navarra, Spain</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>