<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title th:text="#{page.title.address}">Address</title>
</head>
<body>
<main layout:fragment="content">
  <div class="container py-5 h-100">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#" th:href="@{/}" th:text="#{breadcrumb.home}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#" th:href="@{/addresses}" th:text="#{breadcrumb.addresses}">My addresses</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" th:text="#{breadcrumb.newAddress}">New address</li>
      </ol>
    </nav>

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <h3 th:text="#{address.form.add.title}">Address</h3>
            <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2"
                  action="#" th:action="@{/addresses}" method="POST" th:object="${addressForm}">
              <div class="col-12">
                <div class="row g-3">
                  <div class="col-12 col-lg-8">
                    <div class="form-outline">
                      <label class="form-label" for="street" th:text="#{address.form.street}">Street</label>
                      <div class="input-group has-validation">
                        <input type="text" id="street" class="form-control"
                               th:classappend="${#fields.hasErrors('street')} ? 'is-invalid' : 'is-valid'"
                               th:field="*{street}" aria-describedby="validation-street" />
                        <div id="validation-street" class="invalid-feedback"
                             th:if="${#fields.hasErrors('street')}" th:text="${#fields.errors('street')[0]}">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-lg-4">
                    <div class="form-outline">
                      <label class="form-label" for="postal-code" th:text="#{address.form.postalCode}">Postal code</label>
                      <div class="input-group has-validation">
                        <input type="text" id="postal-code" class="form-control"
                               th:classappend="${#fields.hasErrors('postalCode')} ? 'is-invalid' : 'is-valid'"
                               th:field="*{postalCode}" aria-describedby="validation-postal-code" />
                        <div id="validation-postal-code" class="invalid-feedback"
                             th:if="${#fields.hasErrors('postalCode')}" th:text="${#fields.errors('postalCode')[0]}">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-lg-4">
                    <div class="form-outline">
                      <label class="form-label" for="city" th:text="#{address.form.city}">City</label>
                      <div class="input-group has-validation">
                        <input type="text" id="city" class="form-control"
                               th:classappend="${#fields.hasErrors('city')} ? 'is-invalid' : 'is-valid'"
                               th:field="*{city}" aria-describedby="validation-city" />
                        <div id="validation-city" class="invalid-feedback"
                             th:if="${#fields.hasErrors('city')}" th:text="${#fields.errors('city')[0]}">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-lg-4">
                    <div class="form-outline">
                      <label class="form-label" for="state" th:text="#{address.form.state}">State</label>
                      <div class="input-group has-validation">
                        <input type="text" id="state" class="form-control"
                               th:classappend="${#fields.hasErrors('state')} ? 'is-invalid' : 'is-valid'"
                               th:field="*{state}" aria-describedby="validation-state" />
                        <div id="validation-state" class="invalid-feedback"
                             th:if="${#fields.hasErrors('state')}" th:text="${#fields.errors('state')[0]}">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-lg-4">
                    <div class="form-outline">
                      <label class="form-label" for="country" th:text="#{address.form.country}">Country</label>
                      <div class="input-group has-validation">
                        <input type="text" id="country" class="form-control"
                               th:classappend="${#fields.hasErrors('country')} ? 'is-invalid' : 'is-valid'"
                               th:field="*{country}" aria-describedby="validation-country" />
                        <div id="validation-country" class="invalid-feedback"
                             th:if="${#fields.hasErrors('country')}" th:text="${#fields.errors('country')[0]}">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 mt-3 text-end" style="margin-top: 10px;">
                    <button class="btn btn-primary" type="submit" data-mdb-button-init data-mdb-ripple-init
                            th:text="#{button.save}">Save</button>
                    <a class="btn btn-primary" href="#" th:href="@{/addresses}" th:text="#{button.cancel}">Cancel</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>