<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{page.title.home}">Home</title>
</head>

<body>
<main layout:fragment="content">
    <div class="container py-5 h-100">
        <div th:if="${successMessage}" class="alert alert-success">
            <p th:text="${successMessage}">Successfull</p>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page" th:text="#{breadcrumb.home}">Home</li>
            </ol>
        </nav>

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card rounded-3">
                    <div class="card-body p-4">
                        <h3>Home</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>