<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{page.title.truck}">Truck</title>
</head>

<body>
<main layout:fragment="content">
    <div class="container py-5 h-100">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" th:href="@{/}" th:text="#{breadcrumb.home}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" th:href="@{/trucks}" th:text="#{breadcrumb.trucks}">My trucks</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${truckForm.plate}">Mercedes-Benz</li>
            </ol>
        </nav>

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card rounded-3">
                    <div class="card-body p-4">
                        <h3 th:text="#{truck.form.truck}">Truck</h3>

                        <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2"
                              action="#" th:action="@{/trucks/{id}/update-status(id=${truckForm.id})}" method="POST" th:object="${truckForm}">
                            <div class="col-12">
                                <div class="row g-3">
                                    <div class="col-12 col-lg-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="make" th:text="#{truck.form.make}">Make</label>
                                            <input type="text" id="make" class="form-control" th:field="*{make}" disabled />
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="model" th:text="#{truck.form.model}">Model</label>
                                            <input type="text" id="model" class="form-control" th:field="*{model}" disabled />
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="plate" th:text="#{truck.form.plate}">Plate</label>
                                            <input type="text" id="plate" class="form-control" th:field="*{plate}" disabled />
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="year" th:text="#{truck.form.year}">Year</label>
                                            <input type="number" id="year" class="form-control" th:field="*{year}" disabled />
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="color" th:text="#{truck.form.color}">Color</label>
                                            <input type="text" id="color" class="form-control" th:field="*{color}" disabled />
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="purchase-date" th:text="#{truck.form.purchaseDate}">Purchase date</label>
                                            <input type="date" id="purchase-date" class="form-control" th:field="*{purchaseDate}" disabled />
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="fuel-type" th:text="#{truck.form.fuelType}">Fuel Type</label>
                                            <select id="fuel-type" class="form-control" th:field="*{fuelType}" disabled>
                                                <option th:each="fuel : ${fuelTypes}" th:value="${fuel}"
                                                        th:text="#{${'truck.form.fuelType.' + fuel.toLowerCase()}}">Diesel</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="transmission" th:text="#{truck.form.transmission}">Transmission</label>
                                            <select id="transmission" class="form-control" th:field="*{transmission}" disabled>
                                                <option th:each="transmission : ${transmissions}" th:value="${transmission}"
                                                        th:text="#{${'truck.form.transmission.' + transmission.toLowerCase()}}">Automatic</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="width" th:text="#{truck.form.width}">Width</label>
                                            <input type="number" id="width" class="form-control" th:field="*{width}" disabled />
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="length" th:text="#{truck.form.length}">Length</label>
                                            <input type="number" id="length" class="form-control" th:field="*{length}" step="0.1" disabled />
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="height" th:text="#{truck.form.height}">Height</label>
                                            <input type="number" id="height" class="form-control" th:field="*{height}" step="0.1" disabled />
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="capacity" th:text="#{truck.form.capacity}">Capacity</label>
                                            <input type="number" id="capacity" class="form-control" th:field="*{capacity}" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-3 text-end" style="margin-top: 10px;">
                                <button class="btn"
                                        th:classappend="${truckForm.status == 'ACTIVE'} ? ' btn-danger' : ' btn-success'"
                                        type="submit" data-mdb-button-init data-mdb-ripple-init
                                        th:text="${truckForm.status == 'ACTIVE'} ? #{button.deactivate} : #{button.activate}">Activate</button>
                                <a class="btn btn-primary" href="#" th:href="@{/trucks}" th:text="#{button.back}">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>